
body{
        background-color: #222222;
    }
 p{
    color: #e3f9ff;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h1{
    background-color: #575757;
    color: #cfe8fd;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
 }