body {
    /* background-color: #161616;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    /* shorthand-backgrond:
        color > image > position > repeat > [size] n funciona até o memento > attachment*/

    background: #161616 url(imagens/wallpaper002.jpg) center top no-repeat fixed;
    background-size: cover;
}
main {
    background-color: #ffffff;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid #293c8f;
    border-radius: 15px;
}